@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --background-start-rgb: 15, 17, 23;
  --background-end-rgb: 15, 17, 23;
}

body {
  font-family: var(--font-ibm-plex-arabic), sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0d12;
}

::-webkit-scrollbar-thumb {
  background: #2d313a;
  border-radius: 5px;
  border: 2px solid #0b0d12;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  transform-origin: center;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 99px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1c1f26;
  border-radius: 99px;
  margin: 0 0px;
  transition: all 0.5s ease-in-out;
}
